body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: right;
  padding: 0.2rem calc((100vw - 1000px) / 19);
  z-index: 12;

  background-size: cover;
  /* background-color: #fff8f8; */
  background-color: #b31a1b;
}

.link-styles2 {
  margin: 30px;
  color: #ffffff;
  text-decoration: none;
}
.link-styles {
  margin: 30px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 55%;
  font-size: 40px;
}

.homepage {
  height: fit-content;
}

.find-your {
  background-image: url("./pics/grass.jpeg");
  /* background-image: url('/Users/danielaramos/Documents/GitHub/BranchOut/src/pics/Rectangle_159.png'); */
  background-size: cover;
  height: 791px;
  align-content: center;
  justify-items: center;
}

.home-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
}

.home-explain {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 2rem;
  width: 1067px;
  height: 96px;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.survey-nav-button {
  margin-top: 20px;
  background-color: #b31a1b;
  color: #ffffff;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 46px;
  padding-right: 46px;
  border-radius: 100px;
  border: none;
  font-size: 23px;
  font-weight: bold;
}

.survey-nav-button:hover {
  background-color: #b13434;
}

.why-use {
  height: 791px;
  align-content: center;
  justify-items: center;
}

.why-title {
  color: black;
  font-size: 64px;
  font-weight: 700px;
}

.why-circles-container {
  display: flex;
  flex-direction: row;
}

.why-circle {
  margin: 50px;
  justify-items: center;
  align-content: center;
  justify-items: center;
}

.why-circle-title {
  font-size: 40px;
  font-weight: 700;
  color: #4caf50;
  text-align: center;
}

.why-circle-explain {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.circular-img {
  width: 200px; /* or whatever size you want */
  height: 200px;
  border-radius: 50%; /* this makes it a circle */
  object-fit: cover; /* ensures it fills the circle without distortion */
  overflow: hidden;
}

.how-it-works {
  background-color: #4caf50;
  height: 650px;
  align-items: center;
}

.how-it-works * {
  width: 100%;
  text-align: center;
}

.how-it-works-container {
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.how-it-works h1 {
  color: white;
  font-size: 40px;
}

.how-container-1 {
  display: flex;
  gap: 30px;
}

.how {
  justify-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
}

.how p {
  color: black;
  font-weight: 450;
  font-size: 30px;
  margin-bottom: 20px;
  width: 70%;
}

.how-bullet {
  background-color: #4caf50;
  display: inline-block;
  border-radius: 150px;
  padding: 11px 19px 11px 19px;
  color: white;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 20px;
}

.ready {
  padding: 40px;
  background-color: #b31a1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  height: 563px;
  justify-content: center;
}

.survey-nav-button2 {
  margin-top: 20px;
  background-color: #ffffff;
  color: #b31a1b;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 46px;
  padding-right: 46px;
  border-radius: 100px;
  border: none;
  font-size: 23px;
  font-weight: bold;
  width: fit-content;
  height: 86px;
}
.survey-nav-button2:hover {
  background-color: #f1ebeb;
}
