body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  justify-content:right;
  padding: 0.2rem calc((100vw - 1000px) / 19);
  z-index: 12;
  
  
  background-size:cover;
  /* background-color: #fff8f8; */
  background-color: #B31A1B;
  
  
}

.link-styles2{
  margin: 30px;
  color: #FFFFFF;
  text-decoration: none;
}
.link-styles{
  margin: 30px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 55%;
  font-size: 40px;
}

.homepage{
  height: fit-content;
}

.find-your{
  background-image: url("/Users/danielaramos/Documents/GitHub/BranchOut/src/pics/grass.jpeg");
  background-size: cover;
  height: 700px;
  align-content: center;
  justify-items: center;
}

.home-title{
  font-size: 50px;
  color: #FFFFFF;
}

.home-explain{
  margin-top: 2rem;
  width:35%;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}
